<strong>Olá, {{student}}</strong>
<p>Bem-vindo à GymPoint</p>
<p>
  <strong>Plano: </strong> {{plan}} <br />
  <strong>Data de início: </strong> {{start_date}} <br />
  <strong>Data de término: </strong> {{end_date}} <br />
  <strong>Valor: </strong> {{price}} <br />
</p>
